;; This is just an example config.edn file, you have to manually change the data.
{:influxdb {:url "http://localhost:8086"
            :db "test1"}
             
 :sensors {:cam  ;; name of the sensor
           {:type "camera" ;; type of the sensor. check supported types
            :rotate true} ;; some further possible options depending on sensor
           :ds18b20_1
           {:type "ds18b20"}
           :dht11_inside
           {:type "dht11"
            :pin 26}
           "TSL2591 upside down" ;; the sensor names can also just be strings
           {:type "tsl2591"}

           :bme280
           {:type "bme280"
            :address 0x76
            :protocol "i2c"}
           :bmp280_0
           {:type "bmp280"
            :protocol "spi"
            :pin "18"}}}
